/*reset do css*/
* {
    /*Tirar a borda do layout*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*formatando o fundo, o auto vai deixar a largura no automatico e o vh = porcentagem do altura*/
    /*background-size: auto 200vh;*/
    /*adicionar um fundo*/
    background-image:url("img/tt.jpg");
    height: 120vh;
    /*mudar o estilo da fonte*/
    /*font baixada do google fonts*/
    font-family: 'Shadows Into Light', cursive;
}

/* criar uma função como se fosse um if, para dar responsividade*/
/*se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 400px) {
    body {
        font-size:14px;
    }

}

header{
    height: 50vh;
    display: flex;
    /*centralizar horizontalmente*/
    justify-content: center;
    /*centralizar verticalmente*/
    align-items: center;

}

.menu {
    /*la no html criamos uma classe menu, aqui chamamos ela e modificamos, nesse exemplo mudamos a cor do background*/
    background-color: white;
    /*deixar o menu fixo na pagina*/
    position: fixed;
    width: 100vw;
    /*definir a altra do position*/
    top:0;
    z-index: 1;
}

.menu a{
    display: block;
    /*aumentar a area de clique*/
    padding: 10px 20px;
    transition: background-color 1s, color 2s;
}

.menu a:active,
.menu a:hover {
    /*colocar sombra quando passar o mouse no menu*/
    background-color: teal;
    color: violet;
}

a {
    /*usamos uma funçao para tirar o sublinhado do link ('a') que por padrão já vem. Tambem podemos colocar sublinhado onde não tem*/
    color: teal;
    text-decoration: none;
}
/*e aqui acrescentamos o underline quando o mouse passar em cima de 'a'*/
a:hover {
    text-decoration: underline;
}


.menu ul {
    /*colocar todas as opções do menu em linha e não em coluna*/
    display: flex;
    /*dar espaço de uma opção a outra*/
    justify-content: space-around;
}


.menu li {
    /*acessar a lista do menu para tirar as bolinhas da lista*/
    list-style: none;
    
}

.titulos{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: linear 2s animacaoTitulo  forwards;
}

@keyframes animacaoTitulo {
    100% {
        transform: scale(1) translateY(0);
    opacity: 1;
    }
}

/*quando temos duas variaveis que vão receber os mesmo valores, podemos chamar as duas separando por virgula*/
.site-subtitle,
.site-title {
    font-family: 'Dancing Script', cursive;
    color: black;
    text-align: center;
}

/*e aqui damos continuidade no que vai ter em apenas uma das variaveis*/
.site-subtitle {
    font-style: italic;
    /*atribuir uma altura de linha de uma frase á outra*/
    line-height: 1.8em;
    
}

h3 { /*editando uma caixa com o texto "bolos"*/
    /*editar a margen*/
    margin: 20px;
    /*editar a borda*/
    border: 4px solid aquamarine;
    /*espaçamento interno*/
    padding: 10px;
    /*altura*/
    height: 50px;
    /*largura*/
    width: 80px;
    /*sombra*/
    /* primeiro valor: centralização da sombra junto a caixa no eixo horizontal,
    segundo valor: centralização da sombra junto a caixa no eixo vertical,
    terceiro valor: nitidez da sombra,
    quarto valor: dimensão ou escala da sombra
    ultimo: cor da sombra*/
    box-shadow: 10px 10px 10px 1px blue;
    font-style: italic;
    color: blue;
}
.portfolio h2{
    font-family: 'Indie Flower', cursive;
    margin-bottom: 1.5em;
    font-size: 2em;
}

.portfolio{
    padding: 2em;
}

.portfolio .grid {
    display: grid;
    gap: 2em;
}

/*uma condição para configurar as figuras na tela para tela apartir de 550px*/
@media (min-width: 550px){
    .portfolio .grid {
        grid-template-columns: 240px 240px;
    }
}
/*uma condição para configurar as figuras na tela para tela apartir de 880px*/
@media (min-width: 880px){
    .portfolio .grid {
        /*ao inves de escrever o valor de px varias vezes, vamos usar uma função */
        grid-template-columns: repeat(3, 260px);
        justify-content: center;
        align-content: center;
        
    }
}

.portfolio figure {
    text-align:  center;
}

.img-portfolio {
    height: 200px;
    width: 220px;
    object-fit: cover;
    transition: transform 500ms ;
 

}
.img-portfolio:hover{
    transform: scale(1.2);
}

.contato .icons{
    text-align: center;

}

.contato a {
    color: black;
    font-size: 8em;
    transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 10px 10px 10px rgba(100,200,50, 1);
}